body {
    padding-left: 270px;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    margin-left: 50px;
}

div.contain{
    background-color: rgb(200, 245, 245);
    margin: 50px 50px 50px;
    width: fit-content;
    border-radius: 1em;
    padding: 5px 30px 30px 30px;
    display: inline-block;
    margin-right: 0;
}

div.contain2{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(200, 245, 245);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    padding-top: 20px;
    width: fit-content;
    display: flex;          
    flex-direction: row;   
    align-items: flex-start;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 1em;
}

.contain2 > .EnterInfo > label{
    font-weight: bold;
    font-size: 17px;
    padding-left: 75px;
    padding-right: 75px;
    
}

.contain > label{
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgb(200, 245, 245);
}

.SNote{
    display: none;
}

.SNote:checked {
  display: block;
}

#cancel{
    text-align: center;
    color: red;
}

#NoteAdd{
    margin-top: 50px;
}