body{
    padding-left: 270px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

div.contain{
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(200, 245, 245);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    padding-top: 20px;
    width: fit-content;
    display: flex;          
    flex-direction: row;   
    align-items: flex-start;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 1em;
}

.contain > .EnterInfo > label{
    font-weight: bold;
    font-size: 17px;
    padding-left: 40px;
    padding-right: 40px;
    
}