html {
    background-color: lightblue;
}

h1{
    padding-bottom: 25%;
}
div.container {
    background-color: aqua;
    background-position: center;
    border: 3px solid;
    border-radius: 12px;
    display: flex;
    justify-content: center;


}



h2{
    padding: 15px 50px;
}
