body{
    padding-left: 80px;
}

h1{
    margin-bottom: 50px;
}

div.sidebar-container{
    border: 2px solid black;

}

div.sidenav{
    width:15%;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    font-family: sans-serif;
    text-align: center;
    margin-right: 20px;
    margin-left: 10px;
    left: 80px;

}

div.sidenav:hover{
    background-color: red;
    cursor: pointer;
}
